@inherits UmbracoViewPage<int>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Services
@inject IContentTypeService ContentTypeService
@{
    // Model is the id of the sub-service card
    int id = Model;
    var subServiceCard = Umbraco.Content(id);
    //var subServiceCard = ContentTypeService.Get(id);
    var accordions = Umbraco.Content(id).Children();
    //var accordions = ContentTypeService.GetChildren(id); 
    //var description = Html.Raw(subServiceCard.Value<string>("subItemDescription")); 
    var description = Html.Raw(subServiceCard.Value<string>("description"));

    var icon = subServiceCard.Value<string>("subItemIcon");
    var link = subServiceCard.Value<Link>("subItemLink");
    var collapseId = 0;
}


<div id="subService" class="sub-service-modal" aria-describedby='modalDescription2'>
    <div class="container">
        <div class="sr-only" id="modalDescription2">
            <p>
                This is a Modal overlay covering the Service Card content. It is the second of two possible overlays. It contains
                content pertinent to the Service Card sub item. Selecting 'Go Back' in this modal will
                take you back to previous modal overlay.
            </p>
        </div>
        <a href="#" class="focusLoop"><!-- Focus Loop --></a>
        <div class="sub-service-modal-banner">
            <i class="sub-service-modal-banner-icon fa @icon"></i>
            <h2 class="sub-service-modal-banner-title js-subServiceTitle">@subServiceCard.Name</h2>
            <div class="sub-service-modal-go-back js-go-back">
                <a href="#" class="interactive">
                    <i class="sub-service-modal-go-back-icon fa fa-arrow-circle-left"></i>
                    <span class="sr-only">Go Back</span>
                </a>
            </div>
        </div>
        <div class="sub-service-modal-highlights">
            <div class="rte">@description</div>
            <div class="sub-service-modal-services">
                <div class="accordion" role="tablist" aria-multiselectable="true">
                    @foreach (var accordion in accordions)
                    {
                        collapseId++;
                        var target = "collapse" + collapseId.ToString();
                        // Html raw for RTE
                        var accordionContent = Html.Raw(accordion.Value<string>("subItemAccordionContent"));

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="@accordion.Name">
                                <button class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#@target"
                                    aria-expanded="false"
                                    aria-controls="@target">
                                    @accordion.Name
                                </button>
                            </h2>
                            <div id="@target" class="accordion-collapse collapse" aria-labelledby="@accordion.Name">
                                <div class="accordion-body">
                                    @accordionContent
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (link != null)
                {
                    <div class="sub-service-modal-help">
                        <a href="@link.Url" target="@link.Target" title="@link.Url" class="interactive">
                            <h5>
                                Request Help
                                <i class="fa fa-comments"></i>
                                <span class="sr-only">Request Help Link</span>
                            </h5>
                        </a>
                    </div>
                }
            </div>
        </div>
        <a href="#" class="focusLoop"><!-- Focus Loop --></a>
    </div>
</div>