@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.DetailedContactCardsSection>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    Layout = "/Views/_DefaultHeaderLayout.cshtml";
    
    var col = 1;
    var colsAllowed = 2;
    var cards = Model.Children();
}

@if (cards != null && cards.Any())
{
    var lastCard = cards?.Last();
    foreach (var card in cards)
    {
        var email = card.Value("detailedContactCardEmail");

        if (col == 1)
        {
            @:<!-- Start row -->
            @:<div class="row col-full-height-ref">
        }
        
            <div class="col-lg-6 col-full-height">
                <div class="contact-info">
                    <h4 class="contact-title">@card.Value("detailedContactCardTitle")</h4>
                    <strong>@card.Value("detailedContactCardName")</strong><br>
                    <div class="contact-phone">
                        @card.Value("detailedContactCardPhone")<br>
                        @card.Value("detailedContactCardSecondaryPhone")
                    </div>
                    <a class="contact-email interactive" href="mailto:@email">@email</a>
                </div>
            </div>

        if (col == colsAllowed || card.Equals(lastCard))
        {
            @:</div>
            @:<!-- End row -->
        }
        col = (col++ % colsAllowed) + 1;
    }
}